
<p-toolbar styleClass="shadow-3,">
  <ng-template pTemplate="start">
    <p-button  icon="pi pi-bars" pTooltip="Menu de Acciones"  (click)="sidebarLeft = true" [text]="true" severity="info"></p-button>
  </ng-template>

  <ng-template pTemplate="center">
    <p-button (click)="navigateToHome()" [text]="true" >
        <strong>Mariscos Pepe</strong>
    </p-button>
  </ng-template>

  <ng-template pTemplate="end">
    <p-button  icon="pi pi-home" pTooltip="Pedidos" (click)="navigateToHome()" [text]="true"  severity="warning"></p-button>
    <p-button  icon="pi pi-user" pTooltip="Inicio de sesion" (click)="navigateToValidar()" [text]="true"  severity="warning" [style]="{ 'background-color': 'transparent', 'color': 'black' }" [ngStyle]="{ 'background-color': botonColor }"></p-button>
  </ng-template>
</p-toolbar> <br>

<div class="status-bar" [ngClass]="{'connected': isConnected, 'error': !isConnected}">
  {{ isConnected ? 'Conectado para recibir mensajes' : 'Error de conexión' }}
</div>


<!--Para inicio de sesion  -->
<p-sidebar [(visible)]="sidebarTop" position="top" styleClass="h-auto" >
  <router-outlet name="login"></router-outlet>
</p-sidebar>
<p-toast [style]="{ 'marginTop': '75px' }"></p-toast>



<!--Para mostrar las rutas  -->
<p-sidebar [(visible)]="sidebarLeft" position="left" styleClass="w-10rem" >
  <strong>Barra De Acciones</strong>
  <p-divider></p-divider>
  <a routerLink="/producto/lista" routerLinkActive="active"  (click)="closeSidebarLeft()"> <i class="pi pi-list icon"> &nbsp; </i> Productos</a>
  <p-divider></p-divider>
  <a routerLink="/cliente/cliente" (click)="closeSidebarLeft()">
  <i class="pi pi-users icon"> &nbsp; </i> Clientes
  </a>
  <p-divider></p-divider>
  <a routerLink="/venta/pedido" (click)="closeSidebarLeft()">
  <i class="pi pi-file icon"> &nbsp; </i> Ventas
  </a>
  <p-divider></p-divider>
  <a routerLink="/pedidos" (click)="closeSidebarLeft()"> <!-- Corregir la ruta aquí -->
  <i class="pi pi-file icon"> &nbsp; </i> Pedidos
  </a>
  <p-divider></p-divider>
  <strong>Barra De Herramientas</strong>
  <p-divider></p-divider>
  <div class="col flex align-items-center justify-content-center">
    <div class="container">
      <div>
        <p-button  label="Reiniciar Ventas" [rounded]="true" severity="danger"(click)="resetTables(['Venta', 'Concepto'])">
        </p-button>
      </div>
      <p-divider></p-divider>
      <div class="flex align-items-center justify-content-center ">
        Total De las Ventas ${{ totalVentas }}
      </div>
    </div>
  </div>
</p-sidebar>

<router-outlet></router-outlet>





