
<p-toolbar styleClass="shadow-3,">
  <ng-template pTemplate="start">
    <p-button  icon="pi pi-bars" pTooltip="Menu de Acciones" (click)="sidebarLeft = true" class="p-button-sm mr-2"></p-button>
  </ng-template>

  <ng-template pTemplate="center">
    <div class="toolbar-title">Mariscos Pepe </div>
  </ng-template>

  <ng-template pTemplate="end">
    <p-button  icon="pi pi-home" pTooltip="Pedidos" (click)="navigateToHome()" class="p-button-sm mr-2"></p-button>
    <p-button  icon="pi pi-user" pTooltip="Inicio de sesion" (click)="navigateToValidar()" [style]="{ 'background-color': 'transparent', 'color': 'black' }" [ngStyle]="{ 'background-color': botonColor }"></p-button>
  </ng-template>
</p-toolbar> <br>

<!--Para inicio de sesion  -->
<p-sidebar [(visible)]="sidebarTop" position="top" styleClass="h-auto" >
  <router-outlet name="login"></router-outlet>
</p-sidebar>
<p-toast [style]="{ 'marginTop': '75px' }"></p-toast>



<!--Para mostrar las rutas  -->
<p-sidebar [(visible)]="sidebarLeft" position="left" styleClass="w-10rem" >
   <a routerLink="/producto/lista" routerLinkActive="active"  (click)="closeSidebarLeft()"> <i class="pi pi-list icon"> &nbsp; </i> Productos</a>
   <p-divider></p-divider>
   <a routerLink="/cliente/cliente"> <i class="pi pi-user icon"> &nbsp; </i> Clientes </a>
</p-sidebar>

  <router-outlet></router-outlet>



